:host {
  .login-button {
    border: 0;
    padding: 15px 30px;
    background-color: #42ffcd;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition:  1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.login-button:hover {
    background-color: #dffdf5;
}
}
