:host {
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #132927;
  cursor: pointer;
  ::ng-deep{
    .container img{
      width: 100%;
    }
  }


}
