:host{
height: 100px;
position: relative;
}
.header {
	background-image: url('../../../../assets/images/header/texture.png');
	background-position: center;
	background-size: 110% 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 20px 40px;
	border-radius:  25px;
	margin-top: 0px;
  // position: fixed;
  // width: calc(100% - 20px );
  // top:0;

	.logo {
    cursor: pointer;
	}
	.menu {
		display: flex;
		width: 100%;
	}
  .back{
    display: none;
  }
	@media (max-width: 768px) {
		.menu {
			display: none;
		}
    .back{
      display: none;
    }
		.menu.active {
			display: flex;
      flex-direction: column;
      position: absolute;
      top: 77px;
      left: 0;
      width: 100%;
      background-color: #0c1918;
      background-image: url('../../../../assets/images/header/texture.png');
      background-position: center;
      background-size: 110% ;
      border-radius:0 0 35px 35px;

      .back{
        display: block;
        width: 100%;
        height: 100vh;
        top: -97px;
        z-index: 1;
        position: absolute;
        background-color: #0000001f;
      }
      .nav{
        position: relative;

      }
      .nav ul{
        flex-direction: column;
        border-radius: 10px;
        font-size: 22px;
        z-index: 2;
        li{
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          border-bottom: 1px solid #fff;
          padding: 20px;
          border-radius: 10px;
        }
      }
      .login{
        display: flex;
        padding: 20px;
        justify-content: center;
        z-index: 2;
      }
		}
	}
	.nav {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.nav ul {
		width: 100%;
		max-width: 600px;
		display: flex;
		justify-content: space-around;
		font-size: 20px;

		li {
			transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
			cursor: pointer;
			padding-block: 12px;
		}
		li:hover {
			color: #42ffcd;
		}
	}

	.menu-burger {
		display: none;
		padding: 15px;
		border-radius: 50%;
		cursor: pointer;
		.lines {
			display: block;
			position: relative;
			height: 28px;
			width: 35px;
			display: flex;
			align-items: center;
			justify-content: center;

			padding: 0px;
		}

		.line {
			display: block;
			width: 100%;
			height: 5px;
			border-radius: 2px;
			background-color: #ffffff;
		}
		.line::before,
		.line::after {
			content: '';
			display: block;
			width: 100%;
			height: 5px;
			border-radius: 2px;
			position: absolute;
			background-color: #ffffff;
			transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
		}
		.line::before {
			left: 0;
			transform: translateY(-13px);
		}
		.line::after {
			left: 0;
			transform: translateY(13px);
		}
		.line.cross {
			transform: translateY(0px);
			transform: rotateZ(45deg);
			transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
		}
		.line.cross::before {
			left: 0;
			transform: translateY(0px) rotateZ(90deg);
		}
		.line.cross::after {
			left: 0;
			transform: translateY(0px) rotateZ(90deg);
		}
	}
	.menu-burger:hover {
		background-color: rgba(0, 0, 0, 0.402);
		transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
		.line {
			background-color: #42ffcd;
		}
		.line::before,
		.line::after {
			background-color: #42ffcd;
		}
	}
	@media (max-width: 768px) {
		.menu-burger {
			display: block;
		}
	}
	.login {
	}
	@media (max-width: 1200px) {
		.nav ul {
			font-size: calc(12px + (6 + 6 * 0.7) * ((100vw - 320px) / 1280));
		}
	}
}
