:host {
  .title{
    margin-block:20px ;
    font-size: 20px;
    font-weight: 600;
  }
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;

		.item {
			display: flex;
			align-items: center;
			gap: 10px;

			.time {
				padding: 10px 20px;
				background-color: black;
				border-radius: 5px;
				color: aliceblue;
			}
		}
	}
  @media (max-width: 1100px) {
    .container {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr ;

    }
  }
}

