
<h2 class="title">Ближайшие матчи </h2>
<div class="container">
  @for (item of data; track $index) {
    <div class="item">
      <div class="time">
        {{item.time | date:'yyyy MMM dd'}}
      </div>
      <div class="text">
        {{item.first}} : {{item.second}}
      </div>
    </div>
  }

</div>
