.columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block: 20px ;
  gap: 20px;

}

@media (max-width: 768px) {
  .columns{
    display: grid;
    grid-template-columns: 1fr ;
    margin-block: 20px ;
    gap: 20px;

  }
}
