<app-block-matches></app-block-matches>
<app-columns>
  <app-button-marketing>
    <img src="assets/images/marketing/bet.jpg" alt="bet" />
  </app-button-marketing>
  <app-button-marketing>
    <img src="assets/images/marketing/vk.jpg" alt="bet" />
  </app-button-marketing>

</app-columns>


<app-columns>
  <app-info [infoData]="infoData"></app-info>
  <app-info [infoData]="infoData"></app-info>
</app-columns>

<app-columns>
  <app-info [infoData]="infoData"></app-info>
  <app-info [infoData]="infoData"></app-info>
</app-columns>

<app-columns>
  <app-button-marketing>
    <img src="assets/images/marketing/telegram.jpg" alt="bet" />
  </app-button-marketing>
  <app-button-marketing>
    <img src="assets/images/marketing/bet.jpg" alt="bet" />
  </app-button-marketing>

</app-columns>

<app-columns>
  <app-info [infoData]="infoData"></app-info>
  <app-info [infoData]="infoData"></app-info>
</app-columns>
