<div class="title">{{infoData.title}}</div>
<div class="shot">{{infoData.shot}} <span> Смотреть обзор > </span></div>

<div class="img">
  <img [src]="infoData.img" alt="bet" />
</div>
<div class="type">
  {{infoData.type}}
</div>
