:host {
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(247, 249, 251, 1);
  cursor: pointer;
  transition:.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  .title{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .shot{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgba(103, 103, 103, 1);
  }
  .shot span{
    font-size: 20px;
    font-weight: 700;
    color: rgba(12, 186, 140, 1);
  }
  .img{
    border-radius: 10px;

    margin-block: 10px;
  }
  .img img{
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .type{
    font-size: 14px;
    color: rgba(182, 182, 182, 1);
  }
  &:hover{
    background-color: rgb(255, 255, 255);
  }
}

