<div class="logo" [routerLink]="['/']">
  <img width="121" src="assets/images/header/logo.png" alt="" />
</div>
<app-columns>
  <div class="info">
    <div class="item" [routerLink]="['/contacts']"> Контакты</div>
    <div class="item" [routerLink]="['/about']">Про нас</div>
    <div class="item" [routerLink]="['/advertisement']">Реклама</div>
  </div>
  <div class="law">
    <div class="item" [routerLink]="['/agreement']">Пользовательское соглашение</div>
    <div class="item" [routerLink]="['/politics']">Политика конфиденциальности</div>
    <div class="item" [routerLink]="['/copyright']">Для правообладателей</div>
  </div>
</app-columns>

<div class="social">
  <img width="30" src="assets/images/footer/vk.png" alt="" />
  <img width="30" src="assets/images/footer/telegram.png" alt="" />
</div>
