:host {
	display: flex;
	width: 100%;
	background-color: rgba(18, 41, 39, 1);
	color: aliceblue;
	box-shadow: 0 0 0 100vmax rgba(18, 41, 39, 1);
	clip-path: inset(0 -100vmax);
	padding: 10px;
	justify-content: space-between;
	align-items: center;
  padding: 20px;

	.logo {
    cursor: pointer;
	}
	.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
	}
	.law {
    display: flex;
    flex-direction: column;
    gap: 20px;
	}
	.social {
    display: flex;
    gap: 20px;
    cursor: pointer;
	}
	.item {
    color: aliceblue;
    cursor: pointer;
	}
	.item:hover {
    color: rgba(66, 255, 205, 1);
	}
}
